services:
  web:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - redis
    env_file:
      - .env
    volumes:
      - .:/app

  worker:
    build: .
    command: python celery_worker.py
    depends_on:
      - redis
    env_file:
      - .env
    volumes:
      - .:/app

  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"
